<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <!-- 引入Vue -->
    <script src="../../js/vue.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../../css/iview.min.css">
    <!-- 引入组件库 -->
    <script src="../../js/iview.js"></script>
    <style>
        nav {
            padding: 10px 50px;
            display: flex;
            justify-content: space-between;
            justify-items: center;
        }

        nav div:first-child button {
            margin: 0 10px;
        }

    </style>
</head>
<body>
<div id="app" ref="head" style="display: none">
    <nav>
        <div>
            <i-Button type="primary" @click="open($event)" v-if="userType===1">添加</i-Button>
            <i-Button type="primary" @click="del" v-if="userType===1">删除</i-Button>
        </div>
        <div>
            <i-Input placeholder="请输入名称..." style="width: 300px" v-model="searchText"></i-Input>
            <i-Button type="primary" shape="circle" icon="ios-search" @click="search"></i-Button>
        </div>
    </nav>
    <i-Table border :columns="columns" :data="data" @on-selection-change="chooseAll"></i-Table>
    <Page :total="totalRecord" show-total show-elevator :current="page.current" @on-change="next"
          :page-size="page.pageNum" ></Page>
    <Modal
            v-model="modal1"
            :loading="loading"
            :closable="false">
        <i-Form ref="formValidate" :model="formValidate" :rules="ruleValidate">
            <Row>
                <Form-Item label="名称" prop="name">
                    <i-Input v-model="formValidate.name" placeholder="请输入名称"></i-Input>
                </Form-Item>
                <Form-Item label="国际名称" prop="nationName">
                    <i-Input v-model="formValidate.nationName" placeholder="请输入国际名称"></i-Input>
                </Form-Item>
                <Form-Item label="备注" prop="remark">
                    <i-Input v-model="formValidate.remark" placeholder="请输入备注" type="textarea" :rows="4"></i-Input>
                </Form-Item>
            </Row>
        </i-Form>
        <!--底部导航条-->
        <div slot="footer">
            <i-button type="text" style="width: 100px;" @click="cancel">取消</i-button>
            <i-button type="primary" @click="upMessage" :loading="loading" style="width: 100px;">确定</i-button>
        </div>
    </Modal>
</div>
<script src="../../js/jquery-2.1.0.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../config/config.js"></script>
<script src="../../config/js.cookie.js"></script>
<script>
    new Vue({
        el: '#app',
        data:function() {
            return {
                userType: '',
                totalRecord: 0, /*总记录数*/
                page: {
                    current: 1, /*当前页*/
                    pageNum: 20/*每页数据量*/
                },
                formValidate: {
                    id: '',
                    name: '',
                    nationName: '',
                    remark: '',
                    cratetime: ''
                },
                ruleValidate: {
                    name: [
                        {required: true, message: '名称不能为空', trigger: 'blur'}
                    ],
                    nationName: [
                        {required: true, message: '国际名称不能为空', trigger: 'blur'}
                    ],
                    remark: [
                        {required: true, message: '备注不能为空', trigger: 'blur'}
                    ]
                },
                modal1: false,
                searchText: '',
                columns: [
                    {
                        type: 'selection',
                        align: 'center'
                    },
                    {
                        title: '名称',
                        align: 'center',
                        key: 'name'
                    },
                    {
                        title: '国际名称',
                        align: 'center',
                        key: 'nationName'
                    },
                    {
                        title: '备注',
                        align: 'center',
                        key: 'remark'
                    },
                    {
                        title: '创建时间',
                        align: 'center',
                        key: 'cratetime',
                        sortable: true
                    },
                    {
                        title: '操作',
                        key: 'action',
                        align: 'center',
                        render: function (h, params) {
                            if (this.userType === 1) {
                                return h('div', [
                                    h('Button', {
                                        props: {
                                            type: 'primary',
                                            size: 'small'
                                        },
                                        style: {
                                            marginRight: '5px'
                                        },
                                        on: {
                                            click: function () {
                                                this.openState = "修改";
                                                this.formValidate = JSON.parse(JSON.stringify(this.data[params.index]));
                                                this.modal1 = true;
                                            }.bind(this)
                                        }
                                    }, '修改'),
                                    h('Button', {
                                        props: {
                                            type: 'error',
                                            size: 'small'
                                        },
                                        on: {
                                            click: function () {
                                                this.delArr.push(this.data[params.index].id);
                                                this.del();
                                            }.bind(this)
                                        }
                                    }, '删除')
                                ]);
                            } else {
                                return h('div', [
                                    h('Button', {
                                        props: {
                                            type: 'primary',
                                            size: 'small'
                                        },
                                        on: {
                                            click: function () {
                                                this.show(params.index);
                                            }.bind(this)
                                        }
                                    }, '查看')
                                ]);
                            }
                        }.bind(this)
                    }
                ],
                data: [],
                openState: '',
                loading: false,
                file: null,
                delArr: []
            }
        },
        mounted: function () {
            this.$refs.head.style.display = 'block';
        },
        methods: {
            show:function(index) {
                this.$Modal.success({
                    title: '货物类型信息',
                    content: '名称：' + this.data[index].name + '<br>' +
                    '国际名称：' + this.data[index].nationName + '<br>' +
                    '备注：' + this.data[index].remark + '<br>' +
                    '创建时间：' + this.data[index].cratetime
                })
            },
            del:function() {
                var _self = this;
                $.ajax({
                    type: 'GET',
                    url: dataUrl.goodsType.del+_self.delArr,
                    cache: false,
                    success: function (data) {
                        _self.delArr = [];
                        _self.getData();
                        _self.$Message.info('刪除成功');
                    }
                });
            },
            search:function() {
                if (this.searchText.replace(/\s/g, '').length < 1) {
                    alert('搜索内容不可为空');
                } else {
                    var _self = this;
                    $.ajax({
                        type: 'GET',
                        url: dataUrl.goodsType.search+encodeURI(_self.searchText.replace(/\s/g, '')),
                        cache: false,
                        success: function (data) {
                            if (typeof data == "object") {
                                _self.totalRecord = data.totalRecord;
                                _self.page.current = data.currentPage;
                                for (var key in data.dataList) {
                                    data.dataList[key].cratetime = _self.format(data.dataList[key].cratetime);
                                }
                                _self.data = data.dataList;
                            } else {
                                _self.data = [];
                            }
                        }
                    });
                }
            },
            chooseAll:function(data) {
                var _self = this;
                for (var i in data) {
                    _self.delArr.push(data[i].id);
                }
            },
            next:function(data) {
                this.page.current = data;
                this.getData();
            },
            add0:function(m) {
                return m < 10 ? '0' + m : m
            },
            format:function(nS) {
                var time = new Date(parseInt(nS));
                var y = time.getFullYear();
                var m = time.getMonth() + 1;
                var d = time.getDate();
                return y + '-' + this.add0(m) + '-' + this.add0(d);
            },
            open:function(obj) {
                var _self = this;
                if ($.trim(obj.currentTarget.innerText)== "添加") {
                    _self.$refs['formValidate'].resetFields();
                    _self.openState =$.trim(obj.currentTarget.innerText);
                }
                this.modal1 = true;
            },
            getData:function() {
                var _self = this;
                _self.$Loading.start();
                $.ajax({
                    type: 'GET',
                    url: dataUrl.goodsType.all,
                    cache: false,
                    data: _self.page,
                    success: function (data) {
                        _self.$Loading.finish();
                        if (typeof data == "object") {
                            _self.totalRecord = data.totalRecord;
                            _self.page.current = data.currentPage;
                            _self.page.pageNum = data.pageSize;
                            for (var key in data.dataList) {
                                data.dataList[key].cratetime = _self.format(data.dataList[key].cratetime);
                            }
                            _self.data = data.dataList;
                        } else {
                            _self.data = [];
                        }
                    }
                });
            },
            upMessage:function() {
                var _self = this;
                _self.loading = true;
                _self.$refs.formValidate.validate(function (valid) {
                	
                    if (valid) {
                        if (_self.openState == "添加") {
                        	
                            _self.postData(_self, dataUrl.goodsType.insert, JSON.stringify(_self.formValidate));
                        }
                        else if (_self.openState == "修改") {
                        	_self.formValidate.cratetime=Date.parse(_self.formValidate.cratetime);
                            _self.postData(_self, dataUrl.goodsType.upDate, JSON.stringify(_self.formValidate));
                        }
                    } else {
                        _self.loading = false;
                    }
                });
            },
            cancel:function() {
                this.modal1 = false;
            },
            postData:function(_self, url, data) {
                $.ajax(url, {
                    type: 'post',
                    data: data,
                    cache:false,
                    contentType: "application/json ;charset=utf-8",
                    success:function() {
                        _self.modal1 = false;
                        _self.loading = false;
                        _self.$Message.info('上传成功');
                        _self.getData();
                    },
                    error:function() {
                        _self.$Message.info('上传失败');
                    }
                });
            }
        },
        created:function() {
            var _self = this;
            var textState = JSON.parse(Cookies.get("state"));
            if (textState != null) {
                if (textState.ID == 0) {
                    window.location.href = "../../state.html";
                } else if (textState.ID == 1) {
                    if (textState.roleID == 1) {
                        _self.userType = 1;
                    } else if (textState.roleID == 2) {
                        _self.userType = 2;
                    }
                    _self.getData();
                }
            } else {
                window.location.href = "../../state.html";
            }
        }
    });
</script>
</body>
</html>