<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=11"/>
    <!-- 引入Vue -->

    <script src="../../js/vue.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../../css/iview.min.css">
    <!-- 引入组件库 -->
    <script src="../../js/iview.js"></script>
    <style>
        nav {
            padding: 10px 50px;
            display: flex;
            justify-content: space-between;
            justify-items: center;
        }

        nav div:first-child button {
            margin: 0 10px;
        }

        .ivu-form-item-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .ivu-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .ivu-modal {
            height: 100%;
            top: 0;
            bottom: 0;
        }

        .ivu-modal-content {
            border-radius: 0px;
        }

        .ivu-modal-body {
            margin-bottom: 64px;
        }

        .ivu-modal-footer {
            z-index: 9999;
            background: #FFFFFF;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            height: 64px;
        }
    </style>
</head>
<body>
<div id="app" ref="head" style="display: none">
    <nav>
        <div>
            <i-Button type="primary" @click="del" v-if="userType===1" disabled>删除</i-Button>
        </div>
        <div>
            <i-Input placeholder="请输入报警人姓名..." style="width: 300px"></i-Input>
            <i-Button type="primary" shape="circle" icon="ios-search"></i-Button>
        </div>
    </nav>
    <i-Table :columns="columns" :data="data" @on-selection-change="chooseAll"></i-Table>
    <Page :total="totalRecord"
          show-total show-elevator :current="page.current" @on-change="next"
          :page-size="page.pageNum"></Page>

</div>
<script src="../../js/jquery-2.1.0.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../config/config.js"></script>
<script src="../../config/js.cookie.js"></script>
<script>
    new Vue({
        el: "#app",
        data: function () {
            return {
                userType: '',
                totalRecord: 0, /*总页数*/
                page: {
                    current: 1,
                    pageNum: 20
                },
                delArr: [],
                columns: [
                    {
                        type: 'selection',
                        align: 'center',
                    },
                    {
                        title: '报警人ID',
                        key: 'driverId',
                    },
                    {
                        title: '报警时间',
                        key: 'alarmTime',
                    },
                    {
                        title: '报警电话',
                        key: 'alarmPhone',
                    },
                    {
                        title: '报警地点',
                        key: 'alarmPlace',
                    }
                ],
                data: [],
            }
        },
        mounted: function () {
            this.$refs.head.style.display = 'block';
        },
        methods: {
            del: function () {
                var _self = this;
                $.ajax({
                    type: 'GET',
                    url: dataUrl.goodsType.del+_self.delArr,
                    cache: false,
                    success: function () {
                        _self.delArr = [];
                        _self.getData();
                        _self.$Message.info('刪除成功');
                    }
                });
            },
            chooseAll: function (data) {
                var _self = this;
                for (var i in data) {
                    _self.delArr.push(data[i].id);
                }
            },
            next: function (data) {
                this.page.current = data;
                this.getData();
            },
            add0: function (m) {
                return m < 10 ? '0' + m : m
            },
            format: function (nS) {
                var time = new Date(nS);
                var y = time.getFullYear();
                var m = time.getMonth() + 1;
                var d = time.getDate();
                return y + '-' + this.add0(m) + '-' + this.add0(d);
            },
            getData: function () {
                var _self = this;
                _self.$Loading.start();
                if (_self.userType === 3) {
                    //根据公司ID查询数据
                    _self.page.company_id = JSON.parse(Cookies.get("state")).companyID;
                    $.ajax({
                        type: 'GET',
                        url: dataUrl.alarm.getAlarmByCompanyID,
                        cache: false,
                        data: _self.page,
                        success: function (data) {
                            _self.$Loading.finish();
                            _self.totalRecord = data.totalRecord;
                            _self.page.current = data.currentPage;
                            _self.data = data.dataList;
                        }
                    });
                } else {
                    $.ajax({
                        type: 'GET',
                        url: dataUrl.alarm.all,
                        cache: false,
                        data: _self.page,
                        success: function (data) {
                            _self.$Loading.finish();
                            _self.totalRecord = data.totalRecord;
                            _self.page.current = data.currentPage;
                            _self.data = data.dataList;
                        }
                    });
                }
            }
        },
        created: function () {
            var _self = this;
            var textState = JSON.parse(Cookies.get("state"));
            if (textState != null) {
                if (textState.ID == 0) {
                    window.location.href = "../../state.html";
                } else if (textState.ID == 1) {
                    if (textState.roleID == 1) {
                        _self.userType = 1;
                    } else if (textState.roleID == 2) {
                        _self.userType = 2;
                    } else {
                        _self.userType = 3;
                    }
                    _self.getData();
                }
            } else {
                window.location.href = "../../state.html";
            }
        }
    });
</script>

</body>
</html>