<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <link rel="stylesheet" type="text/css" href="../../css/view/businessInfo.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/iview.min.css" charset="utf-8"/>
</head>
<style type="text/css">
    .ivu-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .ivu-form-item-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .ivu-modal {
        top: 50px;
    }
</style>
<body>
<!--总区块-->
<div id="app" ref="head" style="display: none">
    <!--頭部區塊-->
    <nav>
        <div>
            <i-button type="primary" @click="open('添加',0)" v-if="userType===1">添加</i-button>
            <i-button type="primary" style="margin-left: 20px;" @click="moreDelete" v-if="userType===1">删除</i-button>
        </div>
        <div>
            <i-input placeholder="请输入名称..." style="width: 200px;" v-model="searchText"></i-input>
            <i-button type="primary" shape="circle" icon="ios-search" @click="search"></i-button>
        </div>
    </nav>
    <!--数据区块-->
    <i-Table border :columns="columns" :data="data1" @on-selection-change="chooseAll" ellipsis></i-Table>
    <!--\总页数-->
    <Page :total="totalRecord" @on-change="changePage"
           :page-size="page.pageNum" show-elevator
          show-total :current="page.current"></Page>
    <!--弹出组件-->
    <modal
            v-model="modal1"
            :closable="false"
    >
        <i-form :model="goods" :rules="ruleValidate" ref="goods">
            <Row>
                <i-col span="11">
                    <Form-Item label="编码" prop="code">
                        <i-Input placeholder="请输入货物编码" v-model="goods.code"></i-Input>
                    </Form-Item>
                </i-col>
                <i-col span="2"></i-col>
                <i-col span="11">
                    <Form-Item label="名称" prop="name">
                        <i-Input placeholder="请输入货物名称" v-model="goods.name"></i-Input>
                    </Form-Item>
                </i-col>
            </Row>
            <Row>
                <i-col span="11">
                    <Form-Item label="货物类型" prop="goodstyleId">
                        <i-select v-model="goods.goodstyleId" label-in-value @on-change="getTheGoods">
                            <i-option v-for="item in TypeList" :value="item.id" :key="item.id">{{ item.name }}
                            </i-option>
                        </i-select>
                    </Form-Item>
                </i-col>
                <i-col span="2"></i-col>
                <i-col span="11">
                    <Form-Item label="安全卡" prop="safecardId">
                        <i-select v-model="goods.safecardId" label-in-value @on-change="getTheSafe">
                            <i-option v-for="item in cardList" :value="item.id" :key="item.id">{{ item.safeCardNum }}
                            </i-option>
                        </i-select>
                    </Form-Item>
                </i-col>
            </Row>
            <Row>
                <i-col span="24">
                    <Form-Item label="应急方案" prop="reserveOne">
                        <i-input type="textarea" :rows="4" placeholder="请输入应急方案" v-model="goods.reserveOne"></i-input>
                    </Form-Item>
                </i-col>
            </Row>
            <Row>
                <i-col span="24">
                    <Form-Item label="备注">
                        <i-input type="textarea" :rows="4" placeholder="请输入备注" v-model="goods.remark"></i-input>
                    </Form-Item>
                </i-col>
            </Row>
        </i-form>
        <div slot="footer">
            <i-button type="text" style="width: 100px;" @click="cancel">取消</i-button>
            <i-button type="primary" @click="upMessage" :loading="loading" style="width: 100px;">确定</i-button>
        </div>
    </modal>
</div>
</body>
<script src="../../js/jquery-2.1.0.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/iview.js"></script>
<script src="../../config/config.js"></script>
<script src="../../config/js.cookie.js"></script>
<script src="../../js/view/goodsInfo.js"></script>
</html>