*{
    margin: 0;
    padding: 0;
}
nav {
    padding: 10px 50px !important;
    display: flex !important;
    justify-content: space-between;
    justify-items: center;
}

nav div:first-child button {
    margin: 0 10px;
}
.paging {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
    height: auto;
    font-size: 16px;
}

.btn-group-sm > .btn,
.btn-sm {
    font-size: 16px;
}
.input-group.input-group-sm textarea {
    width: 100%;
    height: 150px;
}
.mask {
    position: absolute;
    z-index: 9998;
    top: 0;
    bottom: 0;
    opacity: 0.7;
    background: #333333;
    width: 100%;
    height: 100%;
}
/*弹出层*/
.popup {
    z-index: 9999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    background: #ffffff;
    border-radius: 4px;
    width: 750px;
    height: auto;
}
.popOneItemBox {
    width: 95%;
    margin: 5px auto;
    font-size: 0;
    border: 1px solid #ccc;
}
.popHrafBox{
    width: 50%;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    vertical-align: top;
}
.popup-line {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: PingFangSC-Regular;
    font-size: 20px;
    color: #333333;
}

.popup-line.title {
    height: 35px;
    text-align: center;
}
.popItem{
    width: 100%;
    height: 50px;
    position: relative;
}
.popItem .labelText{
    float: left;
    width: 120px;
    background: #eee;
    color: #555;
    height: 50px;
    line-height: 50px;
    padding: 0 5px;
    text-align: center;
    font-size: 15px;
}
.labelText label{
    line-height: 50px;
    color: #d6646c;
}
.popItem .allSelectBox{
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    border: 0;
    outline: none;
    font-size: 15px;
    text-align: center;
}
.allSelectBox select{
    display: inline-block;
    width: 150px;
    height: 40px;
    margin: 5px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
}
.popItem .inputMsg{
    display: block;
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    border: 0;
    outline: none;
    font-size: 15px;
}
.popup-btn {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.popup-btn button {
    font-size: 16px;
    border-radius: 4px;
    border: none;
    height: 50px;
    width: 40%;
}

.popup-cancel {
    border: 1px solid #cccccc !important;
    background: #FFFFFF;
    color: #337ab7;
}

.popup-sure {
    background: #337ab7;
    color: #FFFFFF;
}

.popup-boundary {
    background: #e5e5e5;
    height: 1px;
}